body {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #67C090;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden; /* empêche le scroll horizontal */
    
}

.container_control {
    width: 100%; /* plutôt que 100vw */
    padding: 50px 0px; /* padding raisonnable */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background-color: #26667F;
}

.search_bar:hover {
    padding: 25px;
    outline: none;
    border-color: #67C090;
    box-shadow: 0 0 4px #26667F;
}

.search_bar {
    width: 300px;
    width: 50%;
    padding: 13px;
    padding-left: 30px;
    margin-right: 10px ;
    display: block;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 23px;
    transition: 0.3s;

}

.button_add {
    padding: 13px 20px;
    border: none;
    border-radius: 20px;
    background-color: #67C090;
    color: white;
    font-size: 23px;
    cursor: pointer;
    transition: 0.3s;
}
.button_add:hover {
    background-color: #1a622a;
}
.tasks_list {
    width: 80%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.task_container {
   transition-duration: 0.3s;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#26667F;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.task_container.removing {
  opacity: 0;
  transform: scale(0.95);
}

.task_item {
    color: #ffffff;
    width: 100%;
    padding:  10px 30px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.close {
  width: 30px;
  height: 30px;
}

.circle-btn {
  aspect-ratio: 1/1;
  height: 37px;
  border-radius: 50%;           /* makes it circular */
  background-image: url('close.svg'); /* your image */
  background-size: 100%;         /* resize inside */
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
}

/* CSS - full custom circle checkbox */
.check_box {
  /* remove native look (all major engines) */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: inline-block;        /* allow sizing & border-radius */
  vertical-align: middle;
  width: 37px;
  height: 37px;
  min-width: 37px;
  min-height: 37px;
  margin-right: 10px;
  box-sizing: border-box;

  border: 2px solid #fff;
  border-radius: 50%;    
  
  /* <-- makes it round */

  cursor: pointer;
  position: relative;           /* for ::after */
}



/* focus ring */


.check_box:checked {
  outline: red;
  background-color: #000;
  background-image: url(check.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.pop_up {
    display: none; /* hidden by default */
    overflow: hidden; /* hides anything outside */
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    height: 40%;      /* your fixed height */
    min-width:  100px;      /* your fixed width */
    min-height: 100px;     /* your fixed height */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #26667F;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    z-index: 1000;
    filter : blur(0px);

}

.title{
        background-color: #26667F;
        color: rgb(255, 255, 255);
        padding: 30px 0;
        margin: 0;
        font-size: 30px;
        text-align: center;
      }
    


/* Inputs inside pop-up */
.pop_up input {
  background-color: #ffffff;
  color: #000000;
  border: none;
  outline: 2px solid#26667F;
  font-size: 20px;
  border-radius: 30/px;
  margin: 0 20px;
  padding: 8px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }

.buttons button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.confirm {
    background-color: #26667F;
    margin : 0px 20px 20px 20px;
}

.cancel {
    background-color: #ff4d4d;
    margin : 0px 20px 20px 20px;
}
.above_input {
    margin: 0px 20px 0 20px;
    font-size: 18px;
    font-weight: bold;
}


